table, th, td {
	border: 1px solid #000;
	text-align: center;
	vertical-align: middle;
}

input {
	width: 95%;
	text-align: center;
}

.passed {
	background-color: #00ff00;
}
.failed {
	background-color: #ff0000;
}
.incomplete {
	background-color: yellow;
}