.faq-container {
	display: flex;
	justify-content: left;
    align-items: left;
	flex-direction: column;
}

.hr-line {
	width: 90%;
    text-align: left;
    margin: 0px 10px;
    float: left;
}

.faq-page {
    float: left;
	color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 90%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0 auto;
}

.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

.faq-answer {
    width: 90%;
    margin: 0px 1rem;
    text-align: left;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02796';
    font-size: 14px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: '\02795';
}